---

- include_tasks: redhat.yml
  when: ansible_os_family | lower == 'redhat'

- include_tasks: debian.yml
  when: ansible_os_family | lower == 'debian'

- import_tasks: python-venv_installation.yml
