---

- ansible.builtin.debug:
     msg: "The role does not support version {{python_version }}. Supported versions are {{ supported_versions | join(', ') }}"
  when: python_version not in supported_versions

- ansible.builtin.include_tasks: redhat.yml
  when:
    - python_version in supported_versions
    - ansible_os_family | lower == 'redhat'

- ansible.builtin.include_tasks: debian.yml
  when:
    - python_version in supported_versions
    - ansible_os_family | lower == 'debian'

- ansible.builtin.include_tasks: python-venv_installation.yml
  when: python_version in supported_versions

