---

- name: python venv | check if the venv3 dir exists
  stat:
    path: "{{ virtualenv_basedir }}/venv3"
  register: venv_dir

- name: python venv | register exist venv python version
  become: true
  ansible.builtin.command: "{{ virtualenv_basedir }}/venv3/bin/python --version"
  register: server_venv_vers
  when: venv_dir.stat.exists
  changed_when: false

- name: python venv | Set a server_venv_version
  ansible.builtin.set_fact:
    server_venv_version: "{{ '.'.join(server_venv_vers.stdout | ansible.builtin.regex_replace ('Python ','')| split('.'))[:3] | string}}"
  when: venv_dir.stat.exists

- name: python venv | copy venv to the folder which its name has the python version
  become: true
  ansible.builtin.copy:
    remote_src: True
    src: "{{ virtualenv_basedir }}/venv3/"
    dest: "{{ virtualenv_basedir }}/venv-{{ server_venv_version }}/"
  when: venv_dir.stat.exists and not venv_dir.stat.islnk

- name: python venv | stop the server
  become: true
  ansible.builtin.service:
    name: "{{ service_name }}"
    state: stopped
  when:
    - venv_dir.stat.exists
    - not venv_dir.stat.islnk
    - python_version in server_venv_vers.stdout
    - service_name  | length > 0

- name: python venv | Remove folder if it is not symlink
  become: true
  ansible.builtin.file:
    path: "{{ virtualenv_basedir }}/venv3"
    state: absent
  when: venv_dir.stat.exists and not venv_dir.stat.islnk

- name: python venv | create symlink if venv exists and is not symlink
  become: true
  ansible.builtin.file:
    src: "{{ virtualenv_basedir }}/venv-{{ server_venv_version }}"
    dest: "{{ virtualenv_basedir }}/venv3"
    state: link
  when: venv_dir.stat.exists and not venv_dir.stat.islnk

- name: python venv | start the server
  become: true
  service:
    name: "{{ service_name }}"
    state: started
  when:
    - venv_dir.stat.exists
    - not venv_dir.stat.islnk
    - service_name  | length > 0

- name: python venv | create python virtualenv wrapper
  become: true
  ansible.builtin.template:
    dest: /usr/local/bin/ome-python3-virtualenv
    src: ome-python3-virtualenv.sh.j2
    mode: 'u=rwx,g=rx,o=rx'

- name: python venv | setup virtualenv3
  become: true
  ansible.builtin.pip:
    name: "pip>=21"
    state: present
    virtualenv: "{{ virtualenv_basedir }}/venv-{{ python_version }}"
    virtualenv_command: /usr/local/bin/ome-python3-virtualenv

- name: python venv | Remove a symbolic link if exist and has different python version
  become: true
  ansible.builtin.file:
    path: "{{ virtualenv_basedir }}/venv3"
    state: absent
  when:
    - venv_dir.stat.exists and venv_dir.stat.islnk
    - python_version not in server_venv_vers.stdout

- name: python venv | create symlink for the new python
  become: true
  ansible.builtin.file:
    src: "{{ virtualenv_basedir }}/venv-{{ python_version }}"
    dest: "{{ virtualenv_basedir }}/venv3"
    state: link
