---

- name: python3.12 venv | install packages
  become: true
  ansible.builtin.dnf:
    update_cache: true
    name:
      - python3.12-devel.x86_64
      - python3.12
      - python3.12-pip
      - python3.12-setuptools
    state: present


