---

- name: python venv | install packages
  become: true
  ansible.builtin.dnf:
    update_cache: true
    name:
      - "python{{ python_version }}-devel.x86_64"
      - "python{{ python_version }}"
      - "python{{ python_version }}-pip"
      - "python{{ python_version }}-setuptools"
    state: present


